{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form class="contact-form" method="POST">
        <div class="section-title">
            <h1>Login</h1>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter the password" id="password" name="password" required>
        </div>
        <button class="button" type="submit">Login</button>
    </form>
{% endblock %}
